<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Absence',
            content=~{fragments/absenceAddFormFragment.html :: addForm},
            request=${addRequest}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <form method="post"
          th:action="@{/absences/add}"
          th:object="${addRequest}">
        <div class="row mb-4 mt-4">
            <div class="col">
                <span class="fs-5">Driver:</span>
                <span class="fs-5" th:text="${driver.firstName}">???</span>
                <span class="fs-5" th:text="${driver.lastName}">???</span>
            </div>
        </div>
        <input id="driverId" required
               th:field="*{driverId}"
               type="number"
               hidden/>

        <div class="row">
            <div class="mb-3">
                <label class="form-label text-muted" for="weekId">Select a week:</label>
                <select id="weekId" class="form-select"
                        th:field="*{qWeekId}">
                    <option th:each="week: ${availableWeeks}"
                            th:value="${week.id}"
                            th:text="|Year: ${week.year}, number: ${week.number} - ${week.description}|"></option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>

        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add'
        )">
        </div>
    </form>
</div>


