<div th:fragment="onChangeRequiredObligationScript">
    <script>
        function onChangeRequiredObligation() {
            const hasRequiredObligation = document.getElementById("hasRequiredObligationId");
            const requiredObligation = document.getElementById("requiredObligationId");
            if (hasRequiredObligation.checked == true) {
                requiredObligation.disabled = false;
                requiredObligation.value = 0
            } else {
                requiredObligation.disabled = true;
                requiredObligation.value = 0
            }
        }
    </script>
</div>
<div th:fragment="onClickLegalEntityTypeScript">
    <script>
        function onClickLegalEntityType(legalEntityTypeOptions) {
            const selectedLegalEntityValue = legalEntityTypeOptions.value;
            const lhvAccount = document.getElementById("lhvAccountId");

            const companyName = document.getElementById("companyNameId");
            const companyRegNumber = document.getElementById("companyRegNumberId");
            const companyVat = document.getElementById("companyVatId");
            const companyCeoFirstName = document.getElementById("companyCeoFirstNameId");
            const companyCeoLastName = document.getElementById("companyCeoLastNameId");
            const companyCeoTaxNumber = document.getElementById("companyCeoTaxNumberId");
            const companyAddress = document.getElementById("companyAddressId");

            if (selectedLegalEntityValue === 'SELF_EMPLOYED') {
                lhvAccount.disabled = true;
                lhvAccount.value = "";

                companyName.disabled = true;
                companyName.value = "";
                companyRegNumber.disabled = true;
                companyRegNumber.value = "";
                companyVat.disabled = true;
                companyVat.value = "";
                companyCeoFirstName.disabled = true;
                companyCeoFirstName.value = "";
                companyCeoLastName.disabled = true;
                companyCeoLastName.value = "";
                companyCeoTaxNumber.disabled = true;
                companyCeoTaxNumber.value = "";
                companyAddress.disabled = true;
                companyAddress.value = "";
            }

            if (selectedLegalEntityValue === 'LHV_ACCOUNT') {
                lhvAccount.disabled = false;

                companyName.disabled = true;
                companyName.value = "";
                companyRegNumber.disabled = true;
                companyRegNumber.value = "";
                companyVat.disabled = true;
                companyVat.value = "";
                companyCeoFirstName.disabled = true;
                companyCeoFirstName.value = "";
                companyCeoLastName.disabled = true;
                companyCeoLastName.value = "";
                companyCeoTaxNumber.disabled = true;
                companyCeoTaxNumber.value = "";
                companyAddress.disabled = true;
                companyAddress.value = "";
            }
            if (selectedLegalEntityValue === 'COMPANY') {
                companyName.disabled = false;
                companyRegNumber.disabled = false;
                companyVat.disabled = false;
                companyCeoFirstName.disabled = false;
                companyCeoLastName.disabled = false;
                companyCeoTaxNumber.disabled = false;
                companyAddress.disabled = false;

                lhvAccount.disabled = true;
                lhvAccount.value = "";
            }
        }
    </script>
</div>